* {
  /* margin: 0%; */
}

body {
  overflow-y: scroll;
  background-color: #000;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

.netflix_originals {
  max-height: 200px;
  color: #000;
}
